<div class="channels-categories-container">
  <div class="channels-categories" [class.opened]="isContainerOpened">
    <app-channel-category
      *ngFor="let category of channelsCategories$ | async"
      [category]="category"
      [chosenCategory]="chosenCategory"
      (chosenCategoryIdChange)="chooseCategory($event)"
    ></app-channel-category>
  </div>
  <div class="toggle-button" (click)="toggleContainer()">
    <!-- <span [class.opened]="isContainerOpened"></span> -->
    <!-- <mat-icon></mat-icon> -->
    <i class="fa fa-angle-down" aria-hidden="true"></i>
  </div>
</div>
