@import '../../../sizes.scss';

.channels-categories-container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 70px;
  padding-top: 20px;
  gap: 2px;
  margin-bottom: 10px;

  .channels-categories {
    width: 100%;
    height: $categories-card-height;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
  }

  .channels-categories.opened {
    height: fit-content;
  }

  .toggle-button {
    width: 50px;
    height: $categories-card-height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #e05f20;
    color: #e05f20;

    span {
      width: 20px;
      height: 15px;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      background: #e05f20;
    }

    span.opened {
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
  }
}

@media screen and (max-width: 1370px) {
  .channels-categories-container {
    .toggle-button {
      width: 44px;
      height: $categories-card-height-2;
    }
  }
}

@media screen and (max-width: 1120px) {
  .channels-categories-container {
    .toggle-button {
      width: 38px;
      height: $categories-card-height-3;
    }
  }
}

@media screen and (max-width: 990px) {
  .channels-categories-container {
    .toggle-button {
      width: 32px;
      height: $categories-card-height-4;
    }
  }
}
