<div class="page page_withfilter" nav-container>
  <div
    class="cards-viewport"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    (scrolled)="loadBooks()"
  >
    <div
      class="row"
      nav-group
      *ngFor="let row of audiobooksByRows$ | async; trackBy: trackByIndex"
    >
      <app-audiobook-card
        [book]="book"
        *ngFor="let book of row; trackBy: trackByBookId"
      ></app-audiobook-card>
    </div>
  </div>
</div>
