@import '../../../assets/fonts/fonts.css';

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0;
  height: 65px;
  // margin-top: 40px;
  color: white;
  // padding-bottom: 6px;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 1rem;
  background: black;

  &__logo {
    margin: 30px auto 0 0;
    width: 195px;
    &:hover {
      cursor: pointer;
    }
  }

  &__account {
    height: fit-content;
    margin-top: 40px;
    color: white;
    padding: 0 40px;
    cursor: pointer;

    mat-icon {
      font-size: 40px;
    }
  }

  &__auth {
    height: 45px;
    margin-top: 40px;
    color: white;
    padding: 0 40px;
    cursor: pointer;
  }
}
