<div class="header">
  <!-- <span class="header__date">{{ date }}</span> -->

  <img src="assets/logo.png" alt="" class="header__logo" />

  <ng-container *ngIf="isAuthorised; else notAuth">
    <div class="header__account" routerLink="/account">
      <mat-icon>account_circle</mat-icon>
    </div>
  </ng-container>

  <ng-template #notAuth>
    <div class="header__account" (click)="openAuthModal()">
      <!-- <span routerLink="/auth"</span> -->
      <span>Войти</span>
    </div>
  </ng-template>
  <!-- <span class="header__time">{{ time }}</span> -->
</div>
