<div class="header">
  <!-- <span class="header__date">{{ date }}</span> -->

  <img src="assets/logo.png" alt="" class="header__logo" routerLink="home" />

  <ng-container *ngIf="isAuthorized; else notAuth">
    <div class="header__account" routerLink="/account">
      <!-- Аккаунт -->

      <mat-icon>account_circle</mat-icon>
      <!-- <mat-icon>account_circle</mat-icon> -->
    </div>
  </ng-container>

  <ng-template #notAuth>
    <div class="header__account" (click)="openAuthModal()">
      <!-- <span routerLink="/auth"</span> -->
      <!-- <span>Войти</span> -->
      <mat-icon>meeting_room</mat-icon>
    </div>
  </ng-template>
  <!-- <span class="header__time">{{ time }}</span> -->
</div>
