<div class="page page_withfilter">

  <app-header></app-header>

  <app-channels-categories-container
    [chosenCategory]="chosenCategory"
    (chosenCategoryChange)="filterChannelsByCategory($event)"
  ></app-channels-categories-container>
  <div
    class="channel-viewport"
    *ngIf="isShowPreloadArea"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="200"
    [scrollWindow]="false"
    (scrolled)="loadMoreChannels()"

  >
    <app-channel-card
      *ngFor="let item of channelList | async | filterChannelsByCategory: chosenCategory; trackBy: trackByChannelId"
      [currentTime]="currentTime"
      [channel]="item"
      class="item"
    ></app-channel-card>
  </div>
</div>
