<div class="page page_withfilter" nav-container>
  <app-channels-categories-container></app-channels-categories-container>
  <div
    class="channel-viewport"
    *ngIf="isShowPreloadArea"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="200"
    [scrollWindow]="false"
    (scrolled)="loadMoreChannels()"
  >
    <div *ngFor="let row of channelsByRows$ | async; trackBy: trackByRowIds" class="row" nav-group>
      <app-channel-card
        *ngFor="let item of row; trackBy: trackByChannelId"
        [currentTime]="currentTime"
        [channel]="item"
        class="item"
      ></app-channel-card>
    </div>
  </div>
</div>
