.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(255,255,255, .4);


  .exit-modal {
    padding: 105px 55px;
    background-color: #232323;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.5);
    margin: 0 auto;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-top: 3px solid #e05f20;

    &__title{
      font-size: 1.2rem;
      color: #fff;
      padding-bottom: 2.2rem;
    }

    .buttons {
      position: relative;
      text-align: center;
      font-size: 0;

      &__item {
        margin-right: 15px;
        background-color: transparent;
        color: #fff;
        font-size: 1.1rem;
        border: 1px solid #e05f20;
        padding: 8px 45px;
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;

        &:focus {
          background-color: #e05f20;
          border-color: #e05f20;
          outline: none;
          box-shadow: none;
        }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
