<div class="app-main-content" [class.blurred]="isAuthModalOpen">
  <!-- <app-connection-info></app-connection-info> -->

  <app-header (openModalChange)="openModal()" [isAuthorized]="isAuthorized"></app-header>

  <router-outlet></router-outlet>

  <app-exit-modal (cancelEvent)="closeExitModal()" *ngIf="isShowExitModal"></app-exit-modal>

  <div class="loader" *ngIf="isLoading$ | async">
    <app-looping-rhombuses-spinner animationDuration="2500" rhombusSize="25" color="white">
    </app-looping-rhombuses-spinner>
  </div>

  <app-player></app-player>
</div>

<!-- <app-main-menu nav-container *ngIf="isShowMenu"></app-main-menu> -->
<ng-container *ngIf="isAuthModalOpen">
  <app-auth-modal
    (closeModalWindowChange)="closeModal()"
    (isAuthorisedChange)="setUserrAuthorized($event)"
  ></app-auth-modal>
</ng-container>
