$dark-gray: #111111;
$middle-gray: #1b1b1b;
$light-gray: #232323;
$main-hover: #e05f20;
$main-green: #67b437;
$text-muted: #616161;

$color-gray-light: #393939;
// $color-gray-medium:#232323; // light-gray
// $color-gray-dark: #1b1b1b; // middle-gray
$color-filter: #111111;
$color-black: #000000;
$color-hover: #e05f20;
$color-glow: #67b437;
$color-text-simple: #ffffff;

$shadow-dark: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
$shadow-glow: 0 0 1rem $color-glow;
$shadow-white: 0 0 1rem #ffffff;
$shadow-big: 0 0 5rem #000;
