.mat-form-field-appearance-standard {
  width: 100%;

  .mat-form-field-wrapper {
    width: 100%;

    .mat-form-field-underline {
      background: $main-hover !important;
    }
  }
}

.mat-form-field-flex {
}

.mat-input-element {
  color: $main-hover !important;
}

.mat-form-field-label {
  color: $main-hover;
}

.auth-form {
  width: 100%;
  height: fit-content;
}

// .mat-form-field-appearance-standard .mat-form-field-underline {
//   background-color: $main-hover !important;
// }

// .mat-form-field-appearance-standard .mat-form-field-underline {
//   background: $main-hover !important;
// }

input {
  background: none !important;
}

.mat-form-field-appearance-standard.mat-focused {
 .mat-form-field-underline {
    background-color: rgb(200, 255, 0) !important;
    background: rgb(200, 255, 0) !important;
  }

  // .mat-form-field-infix {
  //   color: aqua;
  // }

  .mat-form-field-label {
    color: rgb(200, 255, 0) !important;
  }

  .mat-form-field-underline {
  }
}
