$categories-card-height: 30px;
$category-card-font: 18px;

$categories-card-height-2: 28px;
$category-card-font-2: 14px;

$categories-card-height-3: 26px;
$category-card-font-3: 12px;

$categories-card-height-4: 24px;
$category-card-font-4: 10px;
