$categories-card-height: 34px;
$category-card-font: 18px;

$categories-card-height-2: 32px;
$category-card-font-2: 14px;

$categories-card-height-3: 30px;
$category-card-font-3: 12px;

$categories-card-height-4: 28px;
$category-card-font-4: 10px;
